<section class="row">
  <div class="col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
    <div id="login-form-wrapper" class="row justify-content-center">
      <div class="col-12">
        <form{{ attributes }}>
          <div class="row pb-5 px-3">
            <img class="w-100 pt-3 pb-2" src="/themes/custom/ib3/static/images/svg/logo.svg">
            <div class="col-12">
              <div class="form-group">
                <label>Username</label>
                {{ element.name }} {# username element #}
              </div>
              <div class="form-group">
                <label>Password</label>
                {{ element.pass }} {# password element #}
                <div class="login-form__help_actions">
                  <a href="/user/password" class="forgot-password"><small>Forgot Password?</small></a>
                </div>
              </div>
              {{ element.form_build_id }} {# required #}
              {{ element.form_id }} {# required #}
              <div class="login-form__submit">
                {{ element.actions.submit }}
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
