<section class="row">
  <div class="col-12">
    <div id="login-form-wrapper" class="row justify-content-center">
      <div class="col-12 text-center pt-5">
        <h1 class="h3 pb-2">Admin Login</h1>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <form{{ attributes }}>
          <div class="row pb-5">
            <div class="col-12">
              <div class="form-group">
                <label>Username</label>
                {{ element.name }} {# username element #}
              </div>
              <div class="form-group">
                <label>Password</label>
                {{ element.pass }} {# password element #}
                <div class="login-form__help_actions">
                  <a href="/user/password" class="forgot-password"><small>Forgot Password?</small></a>
                </div>
              </div>
              {{ element.form_build_id }} {# required #}
              {{ element.form_id }} {# required #}
              <div class="login-form__submit">
                {{ element.actions.submit }}
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
